[submodule "plugins/dakrone-theme"]
	path = plugins/dakrone-theme
	url = https://github.com/dakrone/dakrone-theme.git
[submodule "plugins/el-get"]
	path = plugins/el-get
	url = https://github.com/dimitri/el-get
[submodule "plugins/websocket"]
	path = plugins/websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "plugins/request"]
	path = plugins/request
	url = https://github.com/tkf/emacs-request.git
[submodule "plugins/markdown-mode"]
	path = plugins/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "plugins/autopair"]
	path = plugins/autopair
	url = https://github.com/capitaomorte/autopair.git
